debug: true

logging:
  level:
    org.springframework: {{getv "/log/level" "INFO"}}
    com.graphene: {{getv "/log/level" "INFO"}}

graphene:
  reader:
    render:
      requestTimeout: 30
      humanReadableNumbers: true
    store:
      key:
        handlers:
          tag-based-key-search-handler:
            key-selector-property:
              type: "RollingKeySelector"
              period: "1w"
            enabled: true
            tenant: none
            clusterName: "{{getv "/index/elasticsearch/cluster/name" "metric"}}"
            cluster:
              - "{{getv "/index/elasticsearch/cluster" "elasticsearch"}}"
            port: {{getv "/index/elasticsearch/port" "9200"}}
            userName: "{{getv "/index/elasticsearch/username" ""}}"
            userPassword: "{{getv "/index/elasticsearch/userpassword" ""}}"
            protocol: "{{getv "/index/elasticsearch/protocol" "http"}}"
            index: "tag-based-key-path"
            type: "path"
            scroll: 10000
            timeout: 120000
            maxPaths: 50000
      data:
        handlers:
          offset-based-data-fetch-handler:
            enabled: true
            tenant: NONE
            maxPoints: 60000000
            keyspace: "{{getv "/data/cassandra/keyspace" "metric_offset"}}"
            columnFamily: "{{getv "/data/cassandra/columnFamily" "metric"}}"
            bucketSize: {{getv "/data/cassandra/offset/bucketsize" "30000"}}
            rollup: 60
            property:
              cluster: "{{getv "/data/cassandra/cluster" "cassandra"}}"
              port: 9042
              userName: "{{getv "/data/cassandra/userName" "cassandra"}}"
              userPassword: "{{getv "/data/cassandra/userPassword" "cassandra"}}"
              maxConnections: 2048
              readTimeout: 10
              connectTimeout: 10
              maxRequests: 128
              maxQueueSize: 4194304
              loadBalancingPolicyName: "TokenDcAwareRoundRobinPolicy"
              consistencyLevel: "{{getv "/data/cassandra/consistencylevel" "ONE"}}"
              protocolVersion: "V4"
          simple-data-fetch-handler:
            enabled: false
            tenant: NONE
            maxPoints: 60000000
            keyspace: "{{getv "/data/cassandra/keyspace" "metric"}}"
            columnFamily: "{{getv "/data/cassandra/columnFamily" "metric"}}"
            bucketSize: 0
            rollup: 60
            property:
              cluster: "{{getv "/data/cassandra/cluster" "cassandra"}}"
              port: 9042
              userName: "{{getv "/data/cassandra/userName" "cassandra"}}"
              userPassword: "{{getv "/data/cassandra/userPassword" "cassandra"}}"
              maxConnections: 2048
              readTimeout: 10
              connectTimeout: 10
              maxRequests: 128
              maxQueueSize: 4194304
              loadBalancingPolicyName: "TokenDcAwareRoundRobinPolicy"
              consistencyLevel: "{{getv "/data/cassandra/consistencylevel" "ONE"}}"
              protocolVersion: "V4"
    throttling:
      # enable throttling
      throttlingEnabled: true
      # total qps limit - i.e. number of allowed requests per second
      totalQPS: 30
      #default tenant qps limit
      defaultQPS: 5
      # qps per tenant
      tenants:
        "my_favorite_tenant": 25
      #exceptions
      exceptions:
        - "testtenant"
        - "graphite_cluster"
