debug: true

logging:
  level:
    org.springframework: {{getv "/log/level" "INFO"}}
    com.graphene: {{getv "/log/level" "INFO"}}

graphene:
  writer:
    blacklist:
      'test':
        - '^xxx_sum.*\.system\..*'
    input:
      graphite.carbon:
        bind: "0.0.0.0"
        port: 2003
        rollups:
          - 60s:5356800s
        {{if exists "/input/route/host"}}
        route:
          host: "{{getv "/input/route/host" "127.0.0.1"}}"
          port: "{{getv "/input/route/port" "2003"}}"
        {{end}}
    store:
      key:
        handlers:
          index-based-key-store-handler:
            tenant: none
            rotation:
              strategy: "timeBasedRotation"
              period: "1w"
            handler:
              type: "IndexBasedKeyStoreHandler"
              property:
                clusterName: "{{getv "/index/elasticsearch/cluster/name" "metric"}}"
                cluster: "{{getv "/index/elasticsearch/cluster" "elasticsearch"}}"
                port: 9300
                templateIndexPattern: "index-based-key-path*"
                index: "index-based-key-path"
                type: "path"
                bulk:
                  actions: 10000
                  interval: 500
      data:
        handlers:
          simple-data-store-handler:
            tenant: NONE
            ttl: 604800
            keyspace: "{{getv "/data/cassandra/keyspace" "metric"}}"
            columnFamily: "{{getv "/data/cassandra/columnFamily" "metric"}}"
            bucketSize: 0
            handler:
              type: "SimpleDataStoreHandler"
              property:
                cluster: "{{getv "/data/cassandra/cluster" "127.0.0.1"}}"
                port: 9042
                userName: "{{getv "/data/cassandra/userName" "cassandra"}}"
                userPassword: "{{getv "/data/cassandra/userPassword" "cassandra"}}"
                maxConnections: {{getv "/data/cassandra/max/connections" "2048"}}
                readTimeout: 10
                connectTimeout: 10
                maxRequests: {{getv "/data/cassandra/max/connections" "128"}}
                maxQueueSize: 4194304
                loadBalancingPolicyName: "TokenDcAwareRoundRobinPolicy"
                protocolVersion: "V4"
    stats:
      interval: 60
      tenant: "NONE"
      hostname: "{{getenv "HOST_NAME" "localhost"}}"
      log: true
server:
  port: 8081
